<nav class="bg-sky-600 p-5 rounded-b-2xl shadow-md">
  <div class="flex justify-between items-center text-white font-semibold mx-4">
    <% if user_signed_in? %>
      <p class="notice"> Signed in as <%= current_user.username %></p>
      <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Logar", new_user_session_path %>
    <% end %>  
  </div>
</nav>
