<div class="container my-5 p-4 bg-dark text-white shadow rounded">
  <h1 class="display-4 text-center mb-4">Edit Transactionn</h1>

  <div class="mb-4">
    <%= render "form", transaction: @transaction %>

    <%= link_to "Back to Transactions", transactions_path, 
      class: "btn btn-secondary d-block text-center mt-3" %>
  </div>
</div>
